doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    if locals.config
      each meta in config.meta
        meta(name='#{meta.name}', content='#{meta.content}')

    if locals.config
      title= config.title
    block css
      link(rel='stylesheet', href='/components/pure/pure-min.css')
      link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
      link(rel='stylesheet', href='/components/flexboxgrid/dist/flexboxgrid.min.css')
      link(rel='stylesheet', href='/components/fullpage.js/dist/jquery.fullpage.min.css')
      link(rel='stylesheet', href='/css/style.css')


  body
    block content

    block js
      script(src='/components/jquery/dist/jquery.min.js')
      script(src='/components/typed.js/dist/typed.min.js')
      script(src='/components/fullpage.js/dist/jquery.fullpage.min.js')
      script(src='/components/github-cards/jsdelivr/widget.js')

      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')

      // google analytics
      script.
        (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function () {
              (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
          a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-37983557-3', 'auto');
        ga('send', 'pageview');

    // page specific js
    block page-scripts
